<footer class="pt-4">
    <div class="container">
        <div class="row">
        <div class="px-4 py-4 px-lg-5 py-lg-4 justify-content-between">
            <div class="content">
            <div class="l-side mb-4">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'menu'%}
                            {% assign menu = block.settings.menu-list %}
                            <ul class="menu-list">
                                <p>{{ linklists[menu].title }}</p>
                                {% for link in linklists[menu].links %}
                                    <li>
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                    {% endcase %}
                {% endfor %}
            </div>
            <div class="r-side mb-1">
                <h6>About</h6>
                <p class="mb-2"> {{ section.settings.about-caption }}
                </p> <a href="#">Learn More</a>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-12 py-4 px-4 px-lg-5 py-lg-4 d-flex flex-wrap justify-content-between">
            <ul class="pages d-flex flex-wrap align-content-center">
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'pages'%}
                            {% assign page = block.settings.page %}
                            <li class="page-itm">
                                <a href="{{ pages[page].url }}">{{ pages[page].title }}</a>
                            </li>
                        {% else %}
                    {% endcase %}
                {% endfor %}
                </li>
            </ul>
            <ul class="social-media d-flex pt-3">
                {% if settings.instagram_link != blank %}
                    <li class="social-media-itm">
                        <a href="{{ settings.instagram_link }}">Instagram</a>
                    </li>
                {% endif %} 
                {% if settings.twitter_link != blank %}
                    <li class="social-media-itm">
                        <a href="{{ settings.twitter_link }}">Twitter</a>
                    </li>
                {% endif %}  
                {% if settings.facebook_link != blank %}
                    <li class="social-media-itm">
                        <a href="{{ settings.facebook_link }}">Facebook</a>
                    </li>
                {% endif %}  
            </ul>
        </div>
        </div>
        <div class="row">
        <div class="col-12 py-4 px-4 px-lg-5 py-lg-4 d-flex justify-content-between">
            <a href="#" class="tos">Terms of Service</a>
            <a href="#" class="copyright">&copy;Jewelry Drip</a>
        </div>
        </div>
    </div>
</footer>
{% schema %}
    {
        "name":"footer",
        "settings": [
            {
                "id":"about-caption",
                "type":"text",
                "label":"Caption",
                "default":"Milian is a simple theme with a minimal touch of elegance."
            }
        ],
        "blocks": [
            {
                "type":"menu",
                "name": "Menu",
                "settings":[
                    {
                        "id":"menu-list",
                        "type":"link_list",
                        "label":"Menu"
                    }
                ]
            },
            {
                "type":"pages",
                "name":"Pages",
                "settings":[
                    {
                        "id":"page",
                        "type":"page",
                        "label":"Pages"
                    }
                ]   
            }
        ]
    }
{% endschema %}