<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 justify-content-between">
        <a class="navbar-brand" href="#">
            <img class="logo" src="{{ settings.logo | img_url: '150x' }}" alt="logo"/>
        </a>
        <div class="alt-btns">
            <a class="mr-3" href="#">
            <span class="text">Search</span>
            <img class="loupe ml-2" src="{{ 'loupe.png' | asset_img_url: '40x' }}" alt="cart">
            </a>
            <button style="border: none" class="btn btn-outline-secondary mr-3" data-cart-button>Bag
                <img class="bag ml-2" src="{{ 'shopping-bag.png' | asset_img_url: '40x' }}" alt="cart">
                <span>{{ cart.item_count }}</span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <img src="{{ 'menu.png' | asset_img_url: '40x' }}" alt="menu">
                </span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                {% comment %} Links in Main Menu {% endcomment %}
                {% for link in linklists.main-menu.links %}
                    {% comment %} Regular Links {% endcomment %}
                    {% if link.links == blank %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% else %}
                    {% comment %} Dropdown Links {% endcomment %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ link.url }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ link.title }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% comment %} Child Links {% endcomment %}
                            {% for childLink in link.links %}
                                <a class="dropdown-item" href="{{ childLink.url }}">{{ childLink.title }}</a>
                            {% endfor %}
                        </div> 
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>