<section class="suggested-collection-section d-flex ">
    <div class="container no-gutters">
        <div class="row">
            {%- if section.settings.show_product_recommendations -%}
                {%- if recommendations.performed -%}
                    {%- if recommendations.products_count > 0 -%}
                        <div class="featured-collection-section_strip d-flex justify-content-between col-12 py-3">
                            <div class="strip_text">
                                Recommended Products
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="featured-collection-section_strip d-flex justify-content-between col-12 py-3">
                    <div class="strip_text">
                        {% if section.settings.heading %}
                            {{ section.settings.heading }}
                        {% else %}
                            {{ collections[section.settings.collection-list].title }}
                        {% endif%}
                    </div>
                    <div class="strip_link">
                        <a href="{{ collections[section.settings.collection-list].url }}">View Collection</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="products row">
            {%- if section.settings.show_product_recommendations -%}
                {%- if recommendations.performed -%}
                    {%- if recommendations.products_count > 0 -%}
                        {%- for product in recommendations.products -%}
                            <div class="product col-lg-4 col-md-12 p-0 p-sm-0 p-md-0 p-lg-0">
                                <a href="{{ product.url }}" class="d-flex justify-content-center overflow">
                                    <img class="w-100" src="{{ product.featured_image | img_url: '500x' }}"/>
                                </a>
                                <div class="overlay px-4 py-4 px-md-3 py-md-3 px-lg-5 py-lg-4">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="{{ product.url }}" class="title">{{ product.title }}</a>
                                        <span class="price">{{ product.price | money }}</span>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    {% endif %}
                {% endif %}
            {% else %}
                {% for product in collections[section.settings.collection-list].products %}
                    <div class="product col-lg-4 col-md-12 p-0 p-sm-0 p-md-0 p-lg-0">
                        <a href="{{ product.url }}" class="d-flex justify-content-center overflow">
                            <img class="w-100" src="{{ product.featured_image | img_url: '500x' }}"/>
                        </a>
                        <div class="overlay px-4 py-4 px-md-3 py-md-3 px-lg-5 py-lg-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="{{ product.url }}" class="title">{{ product.title }}</a>
                                <span class="price">{{ product.price | money }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section> 
{% schema %}
    {
        "name":"Suggested Collection",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_product_recommendations",
                "label": "Show dynamic recommendations",
                "info": "Dynamic recommendations change and improve with time.",
                "default": true
            },
            {
                "id":"heading",
                "type":"text",
                "label":"Text for suggested collection."
            },
            {
                "id":"collection-list",
                "type":"collection",
                "label":"Suggested product collection"
            }
        ],
        "presets": [
            {
                "name": "Suggested Collection",
                "category": "Collection"
            }
        ]
    }
{% endschema %}